.table{
    width: 100%;
    background-color: white;
}

img{
    max-width: 5vw;
}

.material-icons{
    cursor: pointer;
    margin-right: 1vw;
    color: darkslateblue;
}

table, th, td {
  border-radius: 5px;
  border: 2px solid lightgray;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}
